.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
    max-width: 600px;
    margin: 0 auto;
}
.form-grid label {
    display: flex;
    flex-direction: column;
}
.form-grid button:hover {
    background-color: #45a049;
}


.form {
    text-align: center;
    margin-top: 5%;
}
.form label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.form button:hover {
    background-color: #45a049;
}


.center-container {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    align-items: right;
    min-width: 20%;
}

.center-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    min-width: 120px;  /* You can adjust this to your liking */
    width: auto;  /* Adjust width automatically based on content */
}

table {
    width: 70%;
    border-collapse: collapse;
    margin-top: 20px;
    margin: 20px auto;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 8px;
    text-align: center;
}
th {
    background-color: rgba(92, 113, 112, 0.268);
}